<section class="about-page main-page--section js_page-about js_main-section js_animation-about">
  <div class="about-page--wrapper container">
    <div class="about-page--media"></div>
    <div class="about-page--content">
      <h1>
        Немного обо мне
      </h1>
      <p>
        Меня зовут Мохамед, мне 20 лет
      </p>
      <p>
        Закончил курс Front-end разработки в компьютерной академии "ШАГ"
      </p>
      <p>
        Являюсь junior frontend developer с опытом работы более 2-х лет
      </p>
      <p>
        Верстаю как одностраничные сайты (Landing page), так и многостраничные
      </p>
      <p>
        Готов приступить к более серьёзным проектам.
      </p>

      <p>
        Мои Навыки: 
      </p>

      <div class="about-content--skills">
        <span>
          HTML5
        </span>
        <span>
          CSS3
        </span>
        <span>
          SCSS
        </span>
        <span>
          Bootstrap4
        </span>
        <span>
          JavaScript
        </span>
        <span>
          Jquery
        </span>
        <span>
          Ajax
        </span>
        <span>
          WordPress
        </span>
        <span>
          GIT
        </span>
        <span>
          Gulp
        </span>
      </div>
    </div>
  </div>
</section>