<section
  class="contacts-page main-page--section js_page-contacts js_main-section"
>
  <div class="contacts-page--wrapper container">
    <div class="contacts-content">
      <form class="contacts-form js_form">
        <div class="contacts-form--content">
          <div class="form-group">
            <label for="name">Ваше Имя<span>*</span></label>
            <input
              type="text"
              id="name"
              name="name"
              class="form-control"
              placeholder="Ваше Имя"
            />
          </div>
          <div class="form-group">
            <label for="email">Ваш E-mail<span>*</span></label>
            <input
              type="email"
              id="email"
              name="email"
              class="form-control"
              placeholder="Ваш E-mail"
            />
          </div>
          <div class="form-group">
            <textarea
              id="textarea"
              name="textarea"
              cols="30"
              rows="6"
              class="form-control"
              placeholder="Ваше Соощение"
            ></textarea>
          </div>

          <button type="submit" class="js_form-submit">
            <span>
              Отправить
            </span>
          </button>
        </div>

        <div class="contacts-form--success">

          <p>
            Письмо отправлено !
          </p>
          

          <p>
            Я свяжусь с вами в ближайшее время
          </p>
        </div>
      </form>

      <ul class="contacts-links">
        <li>
          <a
            href="https://github.com/Makster231?tab=repositories"
            target="_blank"
          >
            <i class="icon-github-circled"></i>
          </a>
        </li>
        <li>
          <a href="https://t.me/mohammed_b99" target="_blank">
            <i class="icon-telegram"></i>
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com/mohhamed_b/" target="_blank">
            <i class="icon-instagram"></i>
          </a>
        </li>
        <li>
          <a
            href="https://www.linkedin.com/in/maksim-barhush-0819a11a6/"
            target="_blank"
          >
            <i class="icon-linkedin-squared"></i>
          </a>
        </li>
        <li>
          <a href="https://vk.com/m.barkhush99" target="_blank">
            <i class="icon-vkontakte"></i>
          </a>
        </li>
        <li>
          <a href="mailto:makster559553@gmail.com" target="_blank">
            <i class="icon-google"></i>
          </a>
        </li>
        <li>
          <a href="tel:+380959118160">
            <i class="icon-phone"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
