<section class="costs-page main-page--section js_page-costs js_main-section">
  <div class="costs-page--wrapper container">
    <p>
      Стоимость проекта индивидуальна, ведь нельзя назвать цену,
      не взглянув на дизайн и чёткого ТЗ. Поэтому только при предоставлении
      дизайна, я смогу аргументированно сказать сколько уйдёт времени на
      разработку.
    </p>
    <p>
      При отсутствии мобильной версии макета, стоимость работы увеличивается до 10$ / час.
    </p>
    <p>
      При желании можно добавить простую анимации на сайт (эффект появления из
      невидимости, выезжания и т.д.), но за это идёт доплата.
    </p>
    <p>
      Вёрстка полностью:
    </p>
    <ul>
      <li>
        Оптимизированная по скорости загрузки (Находится в зелёной зоне по
        <a
          href="https://developers.google.com/speed/pagespeed/insights/?hl=RU"
          target="_blank"
          >Google PageSpeed</a
        >)
      </li>
      <li>
        Адаптивная под разные расширения экранов (телефоны, планшеты)
      </li>
      <li>
        Кроссбраузерна (IE 10/11, Последние версии Google
        Chrome/Opera/Mozilla/Safari)
      </li>
      <li>
        семантична под SEO (Проверяетс через
        <a
          href="https://developers.google.com/web/tools/lighthouse/"
          target="_blank"
          >Lighthouse</a
        >)
      </li>
      <li>
        Валидная (Проходит проверку на валидность через
        <a href="https://validator.w3.org/" target="_blank">W3C</a>)
      </li>
    </ul>

    <div class="costs-block">
      <span>
        Час работы
      </span>

      <span>
        7$ / час
      </span>
    </div>

    <div class="costs-block">
      <span>
        Час работы (дизайна без адаптива)
      </span>

      <span>
        10$ / час
      </span>
    </div>

    <div class="costs-block">
      <span>
        Посадка на WordPress
      </span>

      <span>
        30$
      </span>
    </div>

    <div class="costs-block">
      <span>
        Добавление простой анимации
      </span>

      <span>
        1$ / секция
      </span>
    </div>
  </div>
</section>
