<section class="works-page main-page--section js_page-works js_main-section">
  <div class="works-page--wrapper js_works-page--slider container">
    <a
      href="http://k92582vf.beget.tech/"
      class="works-page--project"
      target="_blank"
    >
      <img
        src="./images/works/homeOasis/poster.jpg"
        data-object-fit="cover"
        alt="homeOasis"
      />
      <p>
        <strong>
          Домашний Оазис
        </strong>
      </p>
    </a>
    <a href="http://tashdesign.ru/" class="works-page--project" target="_blank">
      <img
        src="./images/works/tashdesign/poster.jpg"
        data-object-fit="cover"
        alt="tashdesign"
      />
      <p>
        <strong>
          tashdesign
        </strong>
      </p>
    </a>
    <a
      href="https://dom-u-medved-gory.ru/"
      class="works-page--project"
      target="_blank"
    >
      <img
        src="./images/works/homeSale/poster.jpg"
        datgulpa-object-fit="cover"
        alt="homeSale"
      />
      <p>
        <strong>
          Дом У Медведь горы
        </strong>
      </p>
    </a>
    <a
      href="https://arsmassive.ru/"
      class="works-page--project"
      target="_blank"
    >
      <img
        src="./images/works/arsmassive/poster.jpg"
        data-object-fit="cover"
        alt="arsmassive"
      />
      <p>
        <strong>
          arsmassive
        </strong>
      </p>
    </a>
    <a href="#" class="works-page--project js_fancybox-bitbunch">
      <img
        src="./images/works/bitbunch/poster.jpg"
        data-object-fit="cover"
        alt="bitbunch"
      />
      <p>
        <strong>
          bitbunch
        </strong>
      </p>
    </a>
    <a href="#" class="works-page--project js_fancybox-valio">
      <img
        src="./images/works/valio/poster.jpg"
        data-object-fit="cover"
        alt="valio"
      />
      <p>
        <strong>
          Valio
        </strong>
      </p>
    </a>
    <a href="#" class="works-page--project js_fancybox-sberbank">
      <img
        src="./images/works/sberbank/poster.jpg"
        data-object-fit="cover"
        alt="bitbunch"
      />
      <p>
        <strong>
          sberbank
        </strong>
      </p>
    </a>
  </div>
</section>
