<section class="works-page main-page--section js_page-works js_main-section">
  <div class="works-page--wrapper container">
    <a class="works-page--project">
      <img src="./images/works/bitbunch.jpg" alt="bitbunch" />
      <p>
        <strong>
          bitbunch
        </strong>
      </p>
    </a>
    <a class="works-page--project">
      <img src="./images/works/bitbunch.jpg" alt="bitbunch" />
      <p>
        <strong>
          bitbunch
        </strong>
      </p>
    </a>
    <a class="works-page--project">
      <img src="./images/works/bitbunch.jpg" alt="bitbunch" />
      <p>
        <strong>
          bitbunch
        </strong>
      </p>
    </a>
    <a class="works-page--project">
      <img src="./images/works/bitbunch.jpg" alt="bitbunch" />
      <p>
        <strong>
          bitbunch
        </strong>
      </p>
    </a>
    <a class="works-page--project">
      <img src="./images/works/bitbunch.jpg" alt="bitbunch" />
      <p>
        <strong>
          bitbunch
        </strong>
      </p>
    </a>
    <a class="works-page--project">
      <img src="./images/works/bitbunch.jpg" alt="bitbunch" />
      <p>
        <strong>
          bitbunch
        </strong>
      </p>
    </a>
    <a class="works-page--project">
      <img src="./images/works/bitbunch.jpg" alt="bitbunch" />
      <p>
        <strong>
          bitbunch
        </strong>
      </p>
    </a>
    <a class="works-page--project">
      <img src="./images/works/bitbunch.jpg" alt="bitbunch" />
      <p>
        <strong>
          bitbunch
        </strong>
      </p>
    </a>
    <a class="works-page--project">
      <img src="./images/works/bitbunch.jpg" alt="bitbunch" />
      <p>
        <strong>
          bitbunch
        </strong>
      </p>
    </a>
    <a class="works-page--project">
      <img src="./images/works/bitbunch.jpg" alt="bitbunch" />
      <p>
        <strong>
          bitbunch
        </strong>
      </p>
    </a>
  </div>
</section>
