.about-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  &--wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    justify-content: unset;

    @media (min-width: $md) {
      justify-content: center;
      overflow-y: unset;
    }
  }

  &--media,
  &--content {
    position: relative;
    z-index: 3;
  }

  &--content {
    width: 100%;
    overflow: hidden;
    max-width: 750px;
  }

  &--media {
    margin-bottom: 20px;
    border-radius: 50%;
    overflow: hidden;
    background: url(../../images/user.jpg) 35% bottom no-repeat;
    background-size: cover;
    width: 120px;
    height: 120px;

    @media (min-width: $xs) {
      height: 150px;
      width: 150px;
    }

    @media (min-width: $md) {
      width: 225px;
      height: 225px;
    }
  }

  .about-content--skills {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 575px;
    margin-left: auto;
    margin-right: auto;

    span {
      display: block;
      text-align: center;
      background-color: rgba($black, 0.75);
      border-radius: 5px;
      padding-top: 7px;
      padding-bottom: 7px;
      margin-bottom: 10px;
      font-size: 12px;
      width: calc(100% / 4 - (10px / 4));

      &:nth-child(9),
      &:last-of-type {
        width: calc(100% / 2 - (10px / 4));
      }
      @media (min-width: $md) {
        width: 100px;
        margin-bottom: 15px;
        padding-top: 10px;
        font-size: 14px;
        padding-bottom: 10px;

        &:nth-child(9),
        &:last-of-type {
          width: 100px;
        }
      }
    }
  }

  h1 {
    text-align: center;
    font-size: 22px;
    margin-bottom: 10px;

    @media (min-width: $md) {
      font-size: 32px;
      margin-bottom: 20px;
    }
  }

  p {
    margin-bottom: 8px;
    text-align: center;

    &:last-of-type {
      margin-bottom: 15px;

      @media (min-width: $md) {
        margin-bottom: 20px;
      }
    }
  }
}
