.contacts-page {
  display: flex;
  flex-direction: row;
  align-items: center;
  &--wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contacts-content {
    position: relative;
    z-index: 5;
    margin-left: auto;
    margin-right: auto;
  }

  .contacts-form--content {
    width: 100%;

    @media (min-width: 640px) {
      max-width: 350px;
    }
  }

  .contacts-form--success {
    width: 290px;

    @media (min-width: $xs) {
      width: 320px;
    }

    @media (min-width: 410px) {
      width: 360px;
    }

    @media (min-width: $md) {
      width: 480px;
    }
    display: none;
    transition: 0.5s ease;

    p {
      overflow: hidden;
      width: 100%;
      max-width: fit-content;
      white-space: nowrap;
      font-size: 13px;
      text-align: center;
      margin: 0 auto;
      border-right: 3px solid $blue;

      @media (min-width: $xs) {
        font-size: 16px;
      }

      @media (min-width: 410px) {
        font-size: 18px;
      }

      @media (min-width: $md) {
        font-size: 22px;
      }

      &:last-of-type {
        opacity: 0;
      }
    }
  }

  .contacts-form {
    box-sizing: border-box;
    display: block;
    margin-bottom: 30px;
    background-color: rgba($black, 0.6);
    border-radius: 6px;
    padding: 20px 10px;

    @media (min-width: $md) {
      padding: 40px 20px;
    }

    &.js_form-success {
      .contacts-form--content {
        display: none;
      }
      .contacts-form--success {
        display: block;

        p {
          animation: typing 3s steps(19, end),
            blink-caret 0.4s step-end 0s infinite,
            border-out 0.4s linear 3s forwards !important;

          &:last-of-type {
            animation: fade-in 0.2s linear 3s forwards,
              typing 3s steps(34, end) 3s, blink-caret 0.4s step-end 4s infinite,
              border-out 0.4s linear 6s forwards !important;
          }
        }
      }
    }
  }

  button {
    position: relative;
    width: 100%;
    border: none;
    outline: 0;
    background-color: rgba($white, 0.1);
    box-shadow: inset 0 0 2px 1px darken($blue, 5%);
    border-radius: 3px;
    color: $white;
    transition: 0.4s ease;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    letter-spacing: 2px;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      width: 1px;
      height: 100%;
      background-color: lighten($blue, 10%);
      left: 0;
    }
    span {
      padding-top: 12px;
      padding-bottom: 12px;
      display: block;
      position: relative;
      box-sizing: border-box;
    }

    @media (min-width: $lg) {
      span {
        padding-top: 12px;
        padding-bottom: 12px;
        box-sizing: border-box;
        &::after {
          content: "";
          position: absolute;
          left: 0;
          top: 101%;
          width: 100%;
          height: 1px;
          transition: 0.5s ease;
          background-color: lighten($blue, 10%);
        }

        &::before {
          content: "";
          position: absolute;
          right: 0;
          bottom: 101%;
          width: 100%;
          height: 1px;
          transition: 0.4s ease;
          background-color: lighten($blue, 10%);
        }
      }

      &::after {
        content: "";
        position: absolute;
        top: 0;
        width: 1px;
        height: 100%;
        background-color: lighten($blue, 10%);
        transition: 0.4s ease;
        left: 100%;
        animation: none;
      }

      &::before {
        content: "";
        position: absolute;
        right: 100%;
        bottom: 0;
        width: 1px;
        height: 100%;
        transition: 0.4s ease;
        background-color: lighten($blue, 10%);
      }
    }

    &:hover {
      box-shadow: inset 0 0 8px 1px lighten($blue, 10%);

      @media (min-width: $lg) {
        &::after {
          left: 1px;
        }
        &::before {
          right: 0;
        }
        span {
          &::after {
            top: 1%;
          }
          &::before {
            bottom: 1%;
          }
        }
      }
    }

    &:active {
      background-color: lighten($blue, 10%);
      transition: 0s;
      box-shadow: none;
    }

    &.js_loader {
      color: transparent;
      box-shadow: inset 0 0 16px 1px lighten($blue, 10%);

      &::after {
        animation: button_loader 1s ease-in forwards;
      }
    }
  }

  .form-group {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 20px;

    @media (mi-width: $md) {
      margin-bottom: 30px;
    }

    &:last-of-type {
      margin-bottom: 30px;
      @media (min-width: $md) {
        margin-bottom: 40px;
      }
    }

    label {
      display: block;
      margin-bottom: 6px;

      span {
        color: lighten($blue, 15%);
      }
    }

    textarea,
    input {
      font-family: "Sarabun", sans-serif;
      width: 100%;
      display: block;
      border: 1px solid transparent;
      outline: 0;
      box-shadow: none;
      transition: 0.4s ease;
      padding: 10px;
      border-radius: 3px;
      resize: none;
      font-size: 16px;
      line-height: 1;
      box-sizing: border-box;
      background-color: rgba($white, 0.1);
      color: $white;

      &::placeholder {
        font-size: 16px;
        line-height: 1;
        font-family: "Sarabun", sans-serif;
      }

      &:hover,
      &:focus {
        border-color: $blue;
        box-shadow: inset 0 0 2px 1px rgba($blue, 1);
      }

      @media (min-width: $md) {
        padding: 12px 15px;
      }
    }
  }

  .contacts-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    li {
      display: block;
      margin-left: 10px;
      transition: 0.4s ease;

      &:first-of-type {
        margin-left: 0;
      }

      &:hover {
        transform: scale(1.4);
      }

      a {
        color: $white;
        font-size: 22px;
      }
    }
  }
}
