.costs-page {
  &--wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  p {
    position: relative;
    z-index: 5;
    margin-bottom: 10px;
    padding-left: 10px;
    &::before {
      content: "*";
      position: absolute;
      left: 0;
    }
  }

  ul {
    position: relative;
    z-index: 5;
    margin-bottom: 30px;
    counter-reset: costs-list;

    a {
      position: relative;
      color: $blue;
      display: inline-flex;
      overflow: hidden;
      font-weight: 800;
      &::before {
        content: "";
        position: absolute;
        left: -100%;
        bottom: 0;
        width: 100%;
        height: 2px;
        background-color: $blue;
        transition: 0.4s ease;
      }

      &:hover {
        &::before {
          left: 0;
        }
      }
    }

    li {
      margin-bottom: 8px;
      padding-left: 0;

      &::before {
        counter-increment: costs-list;
        content: counter(costs-list) ") ";
      }

      &:last-of-type {
        margin-bottom: 0;
      }

      @media (min-width: $md) {
        padding-left: 20px;
      }
    }
  }

  .costs-block {
    position: relative;
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    max-width: 650px;

    @media (min-width: $md) {
      flex-direction: row;
      align-items: center;
    }

    @media (min-width: $lg) {
      max-width: 750px;
    }

    span {
      &:last-of-type {
        text-align: left;
        width: 100px;

        @media (min-width: $lg) {
          width: 200px;
        }
      }
    }
  }
}
