.header {
  position: fixed;
  top: 5px;
  left: 20px;
  z-index: 5;

  @media (max-width: $md) {
    position: fixed;
    z-index: 5;
    top: 15px;
  }

  @media (min-width: 1660px) {
    left: calc((100% - 1440px) / 2);
  }

  &-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &-logo {
    display: block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    box-sizing: border-box;
    border-radius: 50%;
    text-align: center;
    box-shadow: inset 0 0 8px 1px $blue;
    position: relative;

    p {
      font-size: 18px;
      letter-spacing: 1px;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        width: 45px;
        height: 45px;
        z-index: 9;
        display: block;
        border: 3px solid transparent;
        border-radius: 50%;
        border-color: transparent $white transparent transparent;
        animation: rotate_infinite 2s linear 0s infinite;
      }
      span {
        color: $blue;
        font-weight: 600;
      }
    }
  }

  &-nav {
    display: flex;
    flex-direction: row;
    transition: 0.4s ease;

    @media (max-width: 639px) {
      position: fixed;
      width: 100%;
      bottom: 0;
      box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.75);
      left: 0;
    }

    li {
      text-align: center;
      cursor: pointer;
      font-weight: 600;
      position: relative;
      width: 25%;
      overflow: hidden;
      padding-top: 10px;
      padding-bottom: 10px;
      font-size: 12px;
      letter-spacing: -0.01rem;
      background-color: $black;

      @media (min-width: $xs) {
        font-size: 14px;
      }

      @media (min-width: $md) {
        padding: 20px 10px;
        width: 120px;
        background-color: transparent;
        letter-spacing: 1px;
      }

      &::after {
        content: "";
        position: absolute;
        left: -100%;
        width: 100%;
        height: 2px;
        transition: 0.75s ease-in;
        background-color: $white;
        top: 0;

        @media (min-width: 640px) {
          bottom: 0;
          top: inherit !important;
        }
      }

      &:hover {
        color: $blue;
      }

      &.js_active {
        color: $blue;

        &::after {
          background-color: $blue;

          left: 0;
        }
      }
    }
  }
}
