.wrapper-page {
  display: flex;
  flex-direction: column;
  background-color: $blue;
  overflow: hidden;

  .cube-perspective {
    perspective: 1200px;
  }


  > * {
    width: 100%;
  }

  .main-page {
    flex: 1 0 auto;
  }
}
