@@include('../components/_header-page.html')

<main class="main-page js_main-page">
  <section class="about-page main-page--section js_page-about js_main-section">
    <div class="about-page--wrapper container">
      <picture class="about-page--media">
        <img src="./images/user.jpg" alt="My Photo" />
      </picture>
      <div class="about-page--content">
        <h1>
          Всем привет, меня зовут Мохамед
        </h1>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt
          earum id sint enim laboriosam minus recusandae. Obcaecati aut rem,
          quaerat ab libero dolorem. Porro placeat sint maxime quam, dolorum
          aperiam.
        </p>
      </div>
    </div>
  </section>

  <section
    class="works-page main-page--section container js_page-works js_main-section"
  ></section>

  <section
    class="costs-page main-page--section container js_page-costs js_main-section"
  ></section>

  <section
    class="contacts-page main-page--section container js_page-contacts js_main-section"
  ></section>
</main>

@@include('../components/_footer-page.html')
