.js_light-version {
  .cube-perspective {
    perspective: inherit;
  }

  .main-page {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 400vw !important;
    transform-style: inherit !important;
    transform: translateX(0px);
    transition: 1s ease;

    &--section {
      width: 100vw !important;
      height: 100vh !important;
      padding-top: 60px;
      box-sizing: border-box;
      transform: inherit !important;
      position: relative;

      &.works-page,
      &.costs-page,
      &.contacts-page,
      &.about-page {
        transform: inherit !important;
      }
    }
  }
}
