@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes border-out {
  0% {
    border-right-color: $blue;
  }
  95% {
    border-right-color: $blue;
  }
  100% {
    border-right-color: transparent;
  }
}

@keyframes bg_color {
  0% {
    background-color: $blue;
  }
  5% {
    background-color: rgba($black, 0.75);
  }
  95% {
    background-color: rgba($black, 0.75);
  }
  100% {
    background-color: $blue;
  }
}
@keyframes color {
  0% {
    color: $blue;
  }
  5% {
    color: $white;
  }
  95% {
    color: $white;
  }
  100% {
    color: $blue;
  }
}

@keyframes scale {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes slide-down {
  from {
    transform: translateY(-500px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-up {
  from {
    transform: translateY(500px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-left {
  from {
    transform: translateX(-500px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-right {
  from {
    transform: translateX(500px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes button_loader {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@keyframes rotate_infinite {
  0% {
    transform: rotate(0deg);
    border-color: transparent $blue transparent transparent;
  }
  50% {
    transform: rotate(180deg);
    border-color: transparent $white transparent transparent;
  }
  100% {
    transform: rotate(360deg);
    border-color: transparent $blue transparent transparent;
  }
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: $blue;
  }
}
/*  Анимации для секции "Обо Мне"*/
.js_animation-about {
  .about-page--media {
    opacity: 0;
    animation: scale 0.8s linear 0s forwards;
  }
  .about-page--content {
    h1 {
      opacity: 0;
      animation: slide-down 0.4s linear 0s forwards;
    }
    p {
      opacity: 0;
      &:nth-of-type(even) {
        animation: slide-left 0.4s linear 0.4s forwards;
      }
      &:nth-of-type(odd) {
        animation: slide-right 0.4s linear 0.4s forwards;
      }
    }

    .about-content--skills {
      opacity: 0;
      animation: slide-up 0.4s linear 0s forwards;

      span {
        animation: bg_color 5s linear 0.3s infinite;
        @for $i from 1 through 10 {
          &:nth-child(#{$i}) {
            animation-delay: $i * (5s / 20);
          }
        }
      }
    }
  }
}

/*  Анимации для секции "Мои Работы"*/
.js_animation-works {
  .slick-slide {
    animation: fade-in 0.3s linear 1.2s forwards;
    opacity: 0;
  }

  .slick-current {
    opacity: 0;
    animation: fade-in 0.3s linear 0.8s forwards;
    + .slick-slide {
    opacity: 0;
    animation: fade-in 0.3s linear 0.4s forwards;
    }
  }

  .slick-next {
    opacity: 0;
    animation: fade-in 0.3s linear 1.2s forwards;
  }

  .slick-prev {
    opacity: 0;
    animation: fade-in 0.3s linear 0.8s forwards;
  }
}

/*  Анимации для секции "Расценки"*/
.js_animation-costs {
  p {
    opacity: 0;
    animation: fade-in 0.2s linear 0.2s forwards;
  }

  ul {
    opacity: 0;
    animation: fade-in 0.2s linear 0.4s forwards;
    li {
      opacity: 0;

      &:nth-of-type(1) {
        animation: fade-in 0.1s linear 0.6s forwards;
      }
      &:nth-of-type(2) {
        animation: fade-in 0.1s linear 0.7s forwards;
      }
      &:nth-of-type(3) {
        animation: fade-in 0.1s linear 0.8s forwards;
      }
      &:nth-of-type(4) {
        animation: fade-in 0.1s linear 0.9s forwards;
      }
      &:nth-of-type(5) {
        animation: fade-in 0.1s linear 1s forwards;
      }
    }
  }

  .costs-block {
    opacity: 0;

    &:nth-of-type(1) {
      animation: fade-in 0.1s linear 1s forwards;
    }
    &:nth-of-type(2) {
      animation: fade-in 0.1s linear 1.1s forwards;
    }
    &:nth-of-type(3) {
      animation: fade-in 0.1s linear 1.2s forwards;
    }
    &:nth-of-type(4) {
      animation: fade-in 0.1s linear 1.3s forwards;
    }
  }
}

/*  Анимации для секции "Контакты"*/
.js_animation-contacts {
  form {
    opacity: 0;
    animation: scale 0.7s linear 0.2s forwards;
  }

  ul {
    opacity: 0;
    animation: fade-in 0.2s linear 0.4s forwards;
    a {
      opacity: 0;
      animation: fade-in 0.3s linear 0.6s forwards,
        color 4s linear 0.3s infinite;
    }
    li {
      @for $i from 1 through 7 {
        &:nth-child(#{$i}) {
          a {
            animation-delay: $i * (4s / 14);
          }
        }
      }
    }
  }
}
