/* Slick Slider */

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  z-index: 5;
  margin: 0;
  position: relative;
  padding: 0;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (min-width: 640px) {
    height: 90vh;
  }
  &:focus {
    outline: none;
  }

  &.dragging {
    cursor: pointer;
    cursor: hand;
  }
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;

  &:before,
  &:after {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }

  .slick-loading & {
    visibility: hidden;
  }
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  text-align: center;

  [dir="rtl"] & {
    float: right;
  }

  &.slick-loading img {
    display: none;
  }

  display: none;

  &.dragging img {
    pointer-events: none;
  }

  .slick-initialized & {
    display: block;
  }

  .slick-loading & {
    visibility: hidden;
  }

  .slick-vertical & {
    display: block;
    height: auto;
    border: 1px solid transparent;
  }
}

.slick-arrow.slick-hidden {
  display: none;
}

.slick-slide {
  position: relative;
  margin: 0 15px;
  transition: 0.25s linear;

  @media (min-width: $lg) {
    margin: 0;
    // transform: scale(0.34);
  }

  a {
    border-radius: 5px;
    box-shadow: 0px 4px 24px rgba(30, 30, 30, 0.6);
    transition: transform 0.7s linear;

    @media (min-width: $lg) {
      position: relative;
      //left: 6%;
      border-radius: 15px;
      box-shadow: none;
      transform: scale(0.5);
    }
  }

  &.slick-current {
    + .slick-slide {
      a {
        @media (min-width: $lg) {
          transform: scale(1);
        }
      }
    }
  }

  &.slick-center {
    opacity: 1;

    @media (min-width: $lg) {
      transform: scale(1);
    }

    a {
      border-radius: 5px;
      box-shadow: 0px 4px 24px rgba(30, 30, 30, 0.6);

      @media (min-width: $lg) {
        left: 0 !important;
        transform: scale(1);
        opacity: 1;
      }
    }

    &:after {
      opacity: 0;
    }
  }
}

.slick-arrow {
  position: absolute;
  top: calc(50% - 25px);
  padding: 0;
  width: 32px;
  height: 32px;
  border: 0;
  text-indent: -99999px;
  border-radius: 50%;
  transition: 0.25s ease-in-out;
  z-index: 20;
  background-color: rgba($blue, 0.5);
  background-size: 10px 18px;
  background-repeat: no-repeat;
  background-position: center;

  &:hover {
    background-color: $blue;
  }

  @media (min-width: $md) {
    width: 50px;
    height: 50px;
    background-size: 15px 28px;
  }

  @media (min-width: $lg) {
    top: 50%;
  }

  &.slick-next {
    right: 15px;
    transform: translateY(calc(-50%));
    background-image: url(../../images/works/arrow-right.svg);

    @media (min-width: $lg) {
      right: 24%;
      transform: translateY(calc(-50% - 27px)) translateX(-20px);
    }

    @media (min-width: 1070px) {
      right: 26%;
    }
  }

  &.slick-prev {
    left: 15px;
    transform: translateY(calc(-50%));
    background-image: url(../../images/works/arrow-left.svg);
    background-position: center left 10px;

    @media (min-width: $md) {
      background-position: center left 15px;
    }

    @media (min-width: $lg) {
      left: 24%;
      transform: translateY(calc(-50% - 27px)) translateX(20px);
    }

    @media (min-width: 1070px) {
      left: 26%;
    }
  }
}
